@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
      @font-face{
        font-family: 'ApercuBold';
        src: url("/Fonts/ApercuPro-Bold.woff") format("woff"),url("/Fonts/ApercuPro-Bold.woff2") format("woff2");
      }
      @font-face{
        font-family: 'ApercuMedium';
        src: url("/Fonts/ApercuPro-Medium.woff") format("woff"),url("/Fonts/ApercuPro-Medium.woff2") format("woff2");
      }
    }